nav{
    background-image: url("https://media.istockphoto.com/id/184869906/photo/detail-of-graffiti-painted-illegally-on-public-wall.jpg?s=1024x1024&w=is&k=20&c=UDOP59s_LjgF-tNVp8CiVvOd33EUtwaLl8QRIHjcRjU=");
    
}
h1{
    font-family: 'Bungee Spice', cursive;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-stretch: narrower;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
.websitename{
    font-size: 3;
    font-weight: 700;
    
}
.whole-container{
    background-image: url("https://images.pexels.com/photos/5636691/pexels-photo-5636691.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: none;
    background-size: cover;
    height: 100vh;
}
.container{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-left: 2px;
    margin-right: 2px;
    

}
.userinfo{
    font-family: 'Rubik Wet Paint', cursive;
    font-size:30px;
    color: white;
    margin-bottom: 15px;
    margin-top: 10px;
}

.list-container {
    background-color: rgba(12, 12, 12, 0.553);
    flex: 5;
    padding: 20px 30px;
    margin-right:30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    margin-bottom: 20px;
}
.form-container {
    background-color:  rgba(13, 249, 56, 0.397);
    flex: 3;
    padding: 20px 30px;
    margin-left: 2px;
    margin-bottom: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    margin-bottom: 20px;
}
.my-form{
    margin-bottom: 0;
    padding: 5px;

}
.my-form label{
    display:block;
    width: 90px;
}
.main-icon{
    font-size: 35px;
    color: #000000;
    cursor: pointer;
}
#iImportant.important {
    color: rgb(255, 136, 0);
}
.hideformbutton{
    margin-bottom: 10px;
    font-size:15px;
    font-family:Arial;
    width:150px;
    height:30px;
    border-width:1px;
    color:#333333;
    border-color:#ffaa22;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow: 0px 1px 0px 0px #fff6af;
    text-shadow: 0px 1px 0px #ffee66;
    background:linear-gradient(#ffec64, #ffab23);
}
.hideformbutton:hover {
    background: linear-gradient(#ffab23, #ffec64);
  }

.task {
    display: flex;
    background-color: rgba(21, 193, 224, 0.571);
    margin-bottom: 20px;
    margin-top: 10px;
    border:1px solid grey;
    border-radius: 4px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    
    
}
.task h3 {
    font-family: 'Fredoka One', cursive;
    color: rgb(254, 255, 254);
    font-display: space-between;
    font-size: 17px;
}
.task p{
    font-family: 'Fredoka One', cursive;
    color: white;
    font-display: space-between;
}
.task label {
    font-family: 'Fredoka One', cursive;
    color: white;
    font-display: space-between;
}

.titlelable{
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 17px;
}
.btn-save{
    font-size:15px;
    font-family:Arial;
    width:150px;
    height:30px;
    border-width:1px;
    color:rgb(255, 255, 255);
    border-color:#d02718;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    text-shadow:inset 0px 1px 0px #810e05;
    background:linear-gradient(#f24537, #c62d1f);
}
.btn-save:hover {
    background: linear-gradient(#c62d1f, #f24537);
  }
  
  
               
